.landscape-warning {
    display: none;
}

.justify-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.padding-left-right-16px{
    padding-left: 16px;
    padding-right: 16px;
}

.margin-bottom-96px{
    margin-bottom: 96px;
}

.highlighted-text{
    color: var(--highlight-text-blue);
}

.color-red{
    color: var(--warning-red);
}

.bg-add-task{
    background-color: var(--bg-color-grey);
}

.add-task-headline{
    font-size: 47px;
    height: 56px;
    font-weight: 700px;
    padding-top: 48px;
}

.enter-title-input {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid var(--light-grey);
    width: 100%;
    height: 48px;
    padding-left: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px; 
}

.enter-title-input:focus {
    border-color: var(--highlight-blue);
}

.enter-subtask-input{
    border-radius: 10px;
    border: 1px solid var(--light-grey);
    width: 371px;
    height: 40px;
    padding-left: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    background-image: url("./assets/img/subtask-plus.svg");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

.enter-description-input{
    border-radius: 10px;
    border: 1px solid var(--light-grey);
    height: 88px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 21px;
    padding-right: 21px;
    font-weight: 400;
    font-size: 16px;
    resize: none; 
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

.enter-title-input::placeholder{
    color: var(--light-grey);
}

.enter-subtask-input::placeholder{
    color: var(--light-grey);
}

.select-contacts-field{
    border-radius: 10px;
    border: 1px solid var(--light-grey);
    width: 100%;
    height: 48px;
    line-height: 24px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px; 
    appearance: none;
    background-image: url("./assets/img/arrow_drop_down.svg");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
    background-size: 24px auto;
}

textarea::-webkit-input-placeholder {
    color: var(--light-grey);
    }

.bg-red{
    background-color: var(--bg-color-red) !important;
}

.bg-green{
    background-color: var(--prio-low-green) !important;
}

.height-88px{
    height: 88px;
}

.margin-8px{
    margin-bottom: 8px;
}

.hint-container{
    margin-top: 142px;
}

.font-16{
    font-size: 16px;
}

.date-input{
    box-sizing: border-box;
    height: 48px;
    width: 100%;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    padding-left: 21px;
    padding-right: 21px;
    background-image: url("./assets/img/event.svg");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
    font-size: 16px;
    
}

.date-input::placeholder{
    color: var(--light-grey);
}

.date-input:focus{
    background-image: none;
    border-color: var(--highlight-blue);
}

.priority-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--white);
    gap: 8px;
    font-size: 14px;
    height: 41px;
    border-radius: 10px;
    width: 121px; 
    box-shadow: 0px 0px 10px 3px var(--shadow-light-grey-08); 
}

.gap16px{
    gap: 16px;
}

.width-396px{
    width: 396px;
}

.create-task-btn{
    background-color: var(--bg-color-dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--white);
    font-size: 20px;
    font-weight: 700;
    width: 183px;
    height: 56px;
    border-radius: 10px; 
}
.h1-d{
    font-size: 47px;
}

.h2-d{
    font-size: 27px;
    font-weight: 700;
}

.margin-bottom0{
    margin-bottom: 0px;
}

.category-input{
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 8px;
}

@media (min-width: 400px) {
    .priority-section{
        font-size: 16px;
    }
}

@media (min-width: 768px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0; 
    }
    
    .add-task-desktop{
        display: flex;
    }
    .add-task-desktop-gap{
        margin-right: 48px;
    }
    .enter-title-input{
        font-size: 20px;
        height: 48px;
        width: 100%;
    }
    .margintop-32px{
        margin-top: 32px !important;
    }
    .enter-description-input{
        font-size: 20px;
        height: 120px;
        margin-bottom: 32px;
        width: 100%;
    }
    .select-contacts-field{
        width: 440px;
    }
    .add-task-desktop-border{
        margin-right: 48px;
        height: 424px;
        color: var(--black);
        border: 1px solid var(--light-grey);
    }
    .add-task-headline{
        margin-bottom: 48px;
    }
    .enter-description-input{
        resize: vertical;
    }
    .font-20px{
        font-size: 20px;
        margin-top: 0;
    }
    .desktop-help{
        width: 1014px;
        margin-left: 96px;
    }
    .h1-d{
        font-size: 61px;
        margin-top: 110px;
        margin-bottom: 32px;
    }
    .align-center{
        display: flex;
        align-items: center;
        
    }
    .legal-notice-arrow-left{
        margin-top: 78px;
    }
    .font-weight400{
        font-weight: 400;
    }
    .h2-d{
       font-size: 27px; 
       font-weight: 700;
    }
    .priority-section img{
       width: 20px;
    }
    .date-input{
        width: 100%;
        font-size: 20px;
    }
    .width-396px{
        width: 440px;
    }
    .right-section-addTask{
        width: 340px;
    }
    .legal-notice-arrow-left{
        height: 37px;
    }
    .color-blue{
        color: var(--bg-color-dark-grey);
    }
    .category-input{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 8px;
        margin-bottom: 24px;
    }
    .enter-subtask-input{
        font-size: 20px;
        height: 48px;
        margin-bottom: 32px;
        width: 416px;
    
    }
    .d-none-desktop{
        display: none;
    }
    .subtask{
        display: flex;
        flex-direction: column;  
        gap: 8px;
    }
    .required-text{
        padding-top: 170px;
        font-size: 20px;
    }
    .create-task-btn{
        margin-top: 146px;
        font-size: 21px;
    }
    .clear-task-btn{
        background-color: var(--white);
        height: 56px;
        display: flex;
        align-items: center;
        gap: 4px;
        width: 110px;
        justify-content: center;
        border: 1px solid var(--bg-color-dark-grey);
        border-radius: 10px;
        margin-top: 146px;
        color: var(--bg-color-dark-grey);
        font-size: 20px;
    }
    .desktop-btns{
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }
    
}

@media (min-width: 1100px) {
    .add-task-desktop{
        display: flex;
    }
    .add-task-desktop-gap{
        margin-right: 48px;
    }
    .enter-title-input{
        font-size: 20px;
        height: 48px;
        width: 100%;
    }
    .margintop-32px{
        margin-top: 32px !important;
    }
    .enter-description-input{
        font-size: 20px;
        height: 120px;
        margin-bottom: 32px;
        width: 440px;
    }
    .select-contacts-field{
        width: 440px;
    }
    .add-task-desktop-border{
        margin-right: 48px;
        height: 424px;
        color: var(--black);
        border: 1px solid var(--light-grey);
    }
    .add-task-headline{
        margin-bottom: 48px;
    }
    .enter-description-input{
        resize: vertical;
    }
    .font-20px{
        font-size: 20px;
        margin-top: 0;
    }
    .desktop-help{
        width: 1014px;
        margin-left: 96px;
    }
    .h1-d{
        font-size: 61px;
        margin-top: 110px;
        margin-bottom: 32px;
    }
    .align-center{
        display: flex;
        align-items: center;
        
    }
    .legal-notice-arrow-left{
        margin-top: 78px;
    }
    .font-weight400{
        font-weight: 400;
    }
    .h2-d{
       font-size: 27px; 
       font-weight: 700;
    }
    .priority-section img{
       width: 20px;
    }
    .date-input{
        width: 100%;
    }
    .priority-section{
        font-size: 20px;
        height: 56px;
        width: 136px;
        gap: 8px;
    }
    .width-396px{
        width: 440px;
    }
    .legal-notice-arrow-left{
        height: 37px;
    }
    .color-blue{
        color: var(--bg-color-dark-grey);
    }
    .category-input{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 8px;
        margin-bottom: 24px;
    }
    .enter-subtask-input{
    font-size: 20px;
    height: 48px;
    margin-bottom: 32px;
    width: 416px;
    
    }
    .d-none-desktop{
        display: none;
    }
    .subtask{
        display: flex;
        flex-direction: column;  
        gap: 8px;
    }
    .required-text{
        padding-top: 170px;
        font-size: 20px;
    }
    .create-task-btn{
        margin-top: 146px;
    }
    .clear-task-btn{
        background-color: var(--white);
        height: 56px;
        display: flex;
        align-items: center;
        gap: 4px;
        width: 110px;
        justify-content: center;
        border: 1px solid var(--bg-color-dark-grey);
        border-radius: 10px;
        margin-top: 146px;
        color: var(--bg-color-dark-grey);
        font-size: 20px;
    }
    .desktop-btns{
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }
    .right-section-addTask{
        width: 440px;
    }
    
}

@media (min-width: 1380px) {
    body{
        display: flex;
        justify-content: center;
        align-items: center; 
        margin: 0; 
    }

}


/* ANCHOR Landscape Orientation */

@media screen and (orientation: landscape) and (max-height: 450px) {

    .landscape-warning {
        display: block;
        text-align: center;
        padding-top: 20px;
    }

    body {
        margin: 0;
    }

    header {
        display: none;
    }

    .add-task-main-container {
        display: none;
    }

    .menu-overlay {
        display: none;
    }

    .successfull-task {
        display: none;
    }

}