@font-face {
    font-family: 'inter';
    src: url(assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}


body {
    margin: 0;
    font-family: 'inter';
    background-color: var(--bg-color);
}

h1 {
    margin: 0;
    font-size: 47px;
    font-weight: 700;
}

h2,
h3,
p {
    margin: 0;
}

.font-12 {
    font-family: 'Inter';
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
    text-align: left;
}

.hide-under-1400p {
    display: none;
}

.flex-all-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ANCHOR board */
.board {
    padding-top: 24px;
}

.board-headline {
    padding: 20px 16px 20px 16px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.board-btn-dark {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(42, 54, 71, 1);
    border: none;
    color: white;
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 700;
    line-height: 25.2px;
    text-align: left;
    border-radius: 10px;
    height: 56px;
}

.board-add-btn {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    border: none;
}

.board-btn-dark:hover {
    background-color: var(--highlight);
}

.board-add-btn img {
    height: 20px;
    width: 20px;
}

.board-search {
    padding: 0px 16px;
    margin-bottom: 24px;
}

.search-box {
    margin-top: 40px;
    width: 100%;
    height: 48px;
    border-radius: 10px;
    border: solid 1px #A8A8A8;
    display: flex;
    align-items: center;
    gap: 10px;
    box-sizing: border-box;
    padding: 8px 16px 8px 16px;
}

.search-box input {
    flex: 1;
    border: none;
    height: 32px;
    border-right: solid 1px #A8A8A8;
    background-color: var(--bg-color);
}

.board-columns {
    display: flex;
    flex-direction: column;
    gap: 26px;
    padding-left: 16px;
}

.column-with-col-header {
    display: flex;
    flex-direction: column;
    min-width: 252px;
}

.flex-col-gap16 {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.card-container {
    padding: 16px 0;
    display: flex;
    gap: 16px;
    overflow-x: hidden;
    overflow-y: visible;
}

.board-column-title {
    display: flex;
    justify-content: space-between;
}

.column-placeholder {
    width: 100%;
    height: 48px;
    border: 1px dotted rgba(168, 168, 168, 1);
    border-radius: 10px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    background: rgba(231, 231, 231, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.column-placeholder p {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    color: rgba(168, 168, 168, 1);
}



/* ANCHOR Task details overlay*/
.overlay-bg {
    display: none;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    justify-content: center;
    align-items: center;
}

.open-task {
    padding: 32px 24px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
    border-radius: 30px;
    position: relative;
    max-width: 396px;
    box-sizing: border-box;
}

.task-header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.task-header .clickable:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%;
}

.flex-end {
    justify-content: end;
}

.open-task h1 {
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 43.2px;
}

.open-task p {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19.2px;
    text-align: left;
}

.task-line {
    display: flex;
    align-items: center;
    gap: 25px;
}

.prio-text {
    display: flex;
    align-items: center;
    padding: 0 18px;
}

.prio-text img {
    margin-left: 10px;
}

.task-p-bold {
    font-weight: 700;
    color: rgba(66, 82, 110, 1);

}

.task-assigned {
    display: flex;
    align-items: center;
    padding: 7px 16px;
    gap: 16px;
}

.task-footer img {
    height: 24px;
}

.check-list-row {
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 4px;
}

.task-footer {
    display: flex;
    gap: 8px;
    justify-content: end;
    align-items: center;
}

.divider {
    height: 24px;
    width: 1px;
    background-color: rgba(209, 209, 209, 1);
}


/* ANCHOR card */
.card {
    min-width: 252px;
    max-width: 252px;
    background-color: white;
    border-radius: 24px;
    padding: 16px;
    box-sizing: border-box;
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.08);
    transition: rotate 125ms ease-out;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.card:hover {
    rotate: 5deg;
}

.card h3 {
    font-size: 16px;
    font-weight: 700;

}


.card-text-box h3 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 8px;
}

.card-text-box p {
    font-size: 16px;
    color: rgba(168, 168, 168, 1);
    height: 42px;
}

.card-progress-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.outer-pbar {
    width: 128px;
    height: 8px;
    border-radius: 8px;
    background: rgba(244, 244, 244, 1);
}

.inner-pbar {
    height: 8px;
    border-radius: 8px;
    background: rgba(69, 137, 255, 1);
}

.circle-container {
    display: flex;
}

.profile-batch {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
}

.overlap-1 {
    transform: translatex(-8px);
}

.overlap-2 {
    transform: translatex(-16px);
}

.overlap-3 {
    transform: translatex(-20px);
}

.overlap-3 {
    transform: translatex(-24px);
}

.overlap-4 {
    transform: translatex(-32px);
}

.overlap-5 {
    transform: translatex(-40px);
}

.card-footer {
    display: flex;
    justify-content: space-between;

}

.mobile-marg-btm-96 {
    margin-bottom: 96px;
}


/* SECTION Add Task overlay */

.add-task-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    min-height: 64vh;
    padding: 64px;
}

.add-Task-header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.add-Task-header img {
    align-self: flex-start;
}

.overlay-form {
    display: flex;
    gap: 48px;
}

.form-half-side {
    width: 440px;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.form-divider {
    width: 1px;
    height: 424px;
    background-color: rgba(209, 209, 209, 1);
    ;
}

.close-add-btn:hover{
    background-color: rgba(209, 209, 209, 1);
    border-radius: 50%;
}

/* ANCHOR input elements */

.enter-description-input {
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    height: 136px;
    line-height: 24px;
    padding: 18px 16px 18px 16px;
    font-weight: 400;
    resize: none;
    box-sizing: border-box;
    font-family: 'Inter-VariableFont', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.color-red {
    color: rgb(255, 129, 144);
}

/* ANCHOR prio btns */

.prio-container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.priority-btn {
    width: 136px;
    height: 56px;
    padding: 16px 10px 16px 10px;
    gap: 8px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.priority-btn span {
    font-family: 'Inter';
    font-size: 21px;
    font-weight: 400;
    line-height: 25.2px;
}

.priority-btn-edit span {
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.medium-selected {
    background: rgba(255, 168, 0, 1);
    color: white;
}

.urgent-selected {
    background: rgba(255, 61, 0, 1);
    color: white;
}

.low-selected {
    background: rgba(122, 226, 41, 1);
    color: white;
}

.low-selected span,
.urgent-selected span,
.medium-selected span {
    font-weight: 700;
}

/* TODO will be rplaced by subtaks from add contacts */
/* .subtask-enter {
    background-image: url('./assets/img/Property 1=add.svg');
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
} */

.add-task-container form {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 24px;
}

.add-overlay-footer {
    display: flex;
    justify-content: space-between;
    flex: 1;
}

.hint-container {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
    align-self: end;
}

.form-btn-container {
    display: flex;
    gap: 25px;
    align-self: end;
}

.board-create-btn {
    gap: 4px;
}

.cancel-btn {
    background-color: white;
    height: 56px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 110px;
    justify-content: center;
    border: 1px solid rgb(42, 54, 71);
    border-radius: 10px;
    color: rgb(42, 54, 71);
    font-size: 20px;
    box-sizing: border-box;
}

/* !SECTION */
.card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.card-header img:hover {
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 100%; 
}


.card-menu-overlay {
    position: absolute;
    width: 150px;
    padding: 20px;
    background-color: rgb(42, 54, 71);
    border-radius: 20px;
    font-size: 16px;
    font-weight: 400;
    display: none;
    justify-content: center;
    color: white;
    flex-direction: column;
    gap: 24px;
    top: 24px;
    right: 24px;
    z-index: 999;
}

.card-menu-overlay div:hover {
    color: var(--highlight);
}

.type-container {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    display: inline-block;
    color: white;
    border-radius: 10px;
    padding: 4px 16px;
    align-self: start;
}

.type-color-blue {
    background-color: rgba(0, 56, 255, 1);
}

.type-color-green {
    background-color: rgba(31, 215, 193, 1);
}

.type-container-overlay {
    font-family: 'Inter';
    font-size: 23px;
    font-weight: 400;
    line-height: 27.6px;
    text-align: left;
}

/* ANCHOR edit form overlay */
.priority-btn-edit {
    height: 41px;
    width: 122px;
    padding: 18px 10px 18px 10px;
    gap: 8px;
    border-radius: 10px;
    opacity: 0px;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.font-16 {
    font-family: 'Inter';
    font-size: 16px;
    line-height: 19.2px;
    text-align: left;
}

.board-edit-btn {
    height: 56px;
}

.padding-top-0 {
    padding-top: 0;
}

/*ANCHOR - drag and drop*/


.drag-area-highlight {
    border-radius: 20px;
    border-style: dashed;
    border-width: 1px;
}

.clickable {
    cursor: pointer;
}
.clickable.plus-icon {
    background-image: url('assets/img/plus-button-mobile-board-column.svg');
    width: 30px; 
    height: 30px; 
    background-size: cover;
}
.clickable.plus-icon:hover {
    background-image: url('assets/img/blue+icon.svg');
}

.delete-task-button .icon {
    background-image: url('assets/img/delete.svg');
    height: 24px;
    width: 24px;
}

.delete-task-button:hover .icon {
    background-image: url('assets/img/blue-delete.svg');
    height: 24px;
    width: 24px;
}

.edit-task-button .icon {
    background-image: url('assets/img/edit.svg');
    height: 24px;
    width: 24px;
}

.edit-task-button:hover .icon {
    background-image: url('assets/img/blue-edit.svg');
    height: 24px;
    width: 24px;
}

.delete-task-button:hover p,
.edit-task-button:hover p {
    color: rgb(41, 171, 226);
}



/* ANCHOR Media querries */
@media (min-width: 768px) {
    .open-task {
        max-width: none;
        width: 525px;
        gap: 24px;
    }

    .open-task h1 {
        font-family: 'Inter';
        font-size: 61px;
        font-weight: 700;
        line-height: 73.2px;
    }

    .open-task p {
        font-size: 20px;
    }

    .overlay-bg.show{
        display: flex;
        animation: show 125ms ease-in-out 0s; 
    }

    .overlay-bg.hide{
        animation: hideOverlay 125ms ease-in-out 0s forwards;
    }

    @keyframes show {
        from {
            right: -2000px; 
          }
          to {
            right: 0; 
          }
        }
    
    @keyframes hideOverlay {
        from{
            right: 0;
        }
        to{
            right: -2000px;
            display: none;
        }
    }
}

@media (min-width: 1464px) {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .board {
        width: 1104px;
        padding: 0 64px;
    }

    .search-box {
        width: 312px;
        margin-top: 0;
        order: 2;
    }

    .board-columns {
        padding: 0 16px;
    }

    .board-headline {
        padding-left: 0;
        padding-right: 0;
        justify-content: start;
        align-items: center;
        gap: 32px;
        margin-bottom: 28px;
    }

    .board-headline h1 {
        order: 1;
        flex: 1;
    }

    .board-add-btn {
        order: 3;
        width: 160px;
        height: 48px;
    }

    .board-add-btn img {
        height: 18.67px;
        width: 18.67px;
    }

    .card-container {
        flex-direction: column;
        overflow-x: visible;
    }

    .hide-over-1400p {
        display: none;
    }

    .hide-under-1400p {
        display: block;
    }

    .board-columns {
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
    }
    .card-container{
        min-height: 100vh;
    }
}