.overlay-bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--transparency); /* Initial color before sliding in */
    transition: background-color 125ms ease-in-out;
}

.overlay-content {
    display: flex;
    flex-direction: column;
    color: var(--white);
    width: 396px;
    position: relative;
    transform: translateY(150%); /* Initial position, before sliding in */
}

@keyframes overlaySlideIn { /* Keyframe animation for sliding in */
    from {
        transform: translateY(150%);
    } to {
        transform: translateY(0);
    }
}

@keyframes overlaySlideOut { /* Keyframe animation for sliding out */
    from {
        transform: translateY(0);
    } to {
        transform: translateY(150%);
    }
}

#overlayAddContact.overlay-slide-in .overlay-content { /* Active state for sliding in */
    animation: overlaySlideIn 125ms ease-in-out forwards;
}

#overlayAddContact.overlay-slide-in .overlay-bg {
    background-color: var(--bg-color-overlay);    
}

#overlayAddContact.overlay-slide-out .overlay-content { /* Active state for sliding out */
    animation: overlaySlideOut 125ms ease-in-out forwards;
}

#overlayAddContact.overlay-slide-out .overlay-bg {
    background-color: var(--transparency);    
}

#overlayEditContact.overlay-slide-in .overlay-content { /* Active state for sliding in */
    animation: overlaySlideIn 125ms ease-in-out forwards;
}

#overlayEditContact.overlay-slide-in .overlay-bg {
    background-color: var(--bg-color-overlay);    
}

#overlayEditContact.overlay-slide-out .overlay-content { /* Active state for sliding out */
    animation: overlaySlideOut 125ms ease-in-out forwards;
}

#overlayEditContact.overlay-slide-out .overlay-bg {
    background-color: var(--transparency);    
}

.overlay-close-btn {
    background-image: url(./assets/img/close.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
    height: 32px;    
    position: absolute;
    top: 24px;
    right: 16px;
}

.overlay-header {
    background-color: var(--bg-color-dark-grey);
    height: 352px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.overlay-header-content {
    margin-left: 24px;
}

.overlay-logo {
    width: 53.93px;
    height: 66.48px;
    margin-top: 154px;
    display: none;
}

.overlay-header-bold {
    font-size: 47px;
    font-weight: 700;
    line-height: 56.4px;
    margin-bottom: 8px;
    margin-top: 124px;
}

.hr-contacts-overlays {
    border: 3px solid var(--highlight-blue);
    width: 90px;
    margin-left: 0;
}

.overlay-form-bg {
    background-color: var(--white);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.overlay-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 13px 21px;
    margin-top: 92px;
}

.overlay-form input {
    height: 41px;
    border: 1px solid var(--light-grey);
    border-radius: 10px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-left: 21px;
    color: var(--black);
}

.overlay-form input:placeholder-shown {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: var(--light-grey);
    padding-left: 21px;
}

.overlay-form button img {
    width: 24px;
    height: 24px;
}

.input-name {
    background-image: url(./assets/img/input_person.svg);
    background-repeat: no-repeat;
    background-position: 319px;
}

.input-mail {
    background-image: url(./assets/img/input_mail.svg);
    background-repeat: no-repeat;
    background-position: 319px;
}

.input-phone {
    background-image: url(./assets/img/input_call.svg);
    background-repeat: no-repeat;
    background-position: 319px;
}


/* ANCHOR min 1300px Responsiveness */

@media screen and (min-width: 1300px){

    .overlay-logo {
        display: unset;
    }

    .overlay-content {
        position: relative;
        flex-direction: row;
        width: auto;
        height: 594px;
        transform: translateX(150%); /* Initial position, before sliding in */
    }
   
    @keyframes overlaySlideIn { /* Keyframe animation for sliding in */
        from {
            transform: translateX(150%);
        } to {
            transform: translateX(0);
        }
    }
    
    @keyframes overlaySlideOut { /* Keyframe animation for sliding out */
        from {
            transform: translateX(0);
        } to {
            transform: translateX(150%);
        }
    }

    .overlay-close-btn {
        filter: invert(100%);
        position: absolute;
        top: 52px;
        right: 52px;
        z-index: 1;
    }

    .overlay-close-btn:hover {
        background-image: url(./assets/img/close-grey.svg);
        filter: none;
    }

    .overlay-header {
        height: 594px;
        border-top-right-radius: 0;
        border-bottom-left-radius: 30px;
    }

    .overlay-header-content {
        margin-left: 45.5px;
    }

    .overlay-header-bold {
        font-size: 61px;
        line-height: 73.2px;
        margin-bottom: 16px;
        margin-top: 32.02px;
        margin-right: 46px;
        white-space: nowrap;
    }

    .overlay-form-bg {
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
        display: flex;
        align-items: center;
    }

    .overlay-form {
        gap: 32px;
        width: 422px;
        margin-top: 137px;
        margin-right: 48px;
        padding: 0;
    }

    .input-name {
        background-position: 380px;
    }
    
    .input-mail {
        background-position: 380px;
    }
    
    .input-phone {
        background-position: 380px;
    }

}