:root {
    --bg-color: rgba(246, 247, 248, 1);
    --buttons-dark: rgba(42, 54, 71, 1);
    --highlight: rgba(41, 171, 226, 1);
    --profile-lila: rgba(147, 39, 255, 1);
    --profile-rosa: rgba(252, 113, 255, 1);
    --profile-orange: rgba(255, 187, 43, 1);
}

@font-face {
    font-family: 'Inter-VariableFont';
    src: local(''), url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: 'Inter-VariableFont', sans-serif;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    background-color: var(--bg-color);
    margin-top: 82px;
}

textarea:focus, input:focus{
    outline-color: var(--highlight);
}

.clickable {
    cursor: pointer;
}

.d-none {
    display: none;
}

.orange {
    background-color: rgba(255, 122, 0, 1);
}

.purple {
    background-color: rgba(147, 39, 255, 1);
}

.blue {
    background-color: rgba(110, 82, 255, 1);
}

.pink {
    background-color: rgba(252, 113, 255, 1);
}

.yellow {
    background-color: rgba(255, 187, 43, 1);
}

.mint {
    background-color: rgba(31, 215, 193, 1);
}

.green {
    background-color: rgb(72, 190, 72);
}

.grey {
    background-color: rgb(155, 154, 154);
}

.cancel-btn .cancel-btn-img-blue {
    display: none;
}

.cancel-btn:hover .cancel-btn-img-blue {
    display: unset;
}

.cancel-btn:hover .cancel-btn-img-dark {
    display: none;
}

.btn-color {
    background-color: var(--buttons-dark);
    border: 1px solid var(--buttons-dark);
}

.btn-color:hover {
    border-color: var(--highlight);
    background-color: var(--highlight);
    box-shadow: 0 5px 5px rgba(42, 54, 71, 0.5);
}

.btn-white {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid var(--buttons-dark);
}

.btn-white:hover {
    color: var(--highlight);
    border: 2px solid var(--highlight);
    box-shadow: 0 5px 5px rgba(42, 54, 71, 0.5);    
}


/* SECTION select */
/* ANCHOR select text field */
.select-input {
    appearance: none;
    background-image: url('./assets/img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    background-size: 24px auto;
}

.select-image {
    width: 48px;
    height: 100%;
    background-image: url("./assets/img/arrow_drop_down.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}

.select-image-up {
    width: 48px;
    height: 100%;
    background-image: url("./assets/img/arrow_drop_down-up.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}


.select-image:hover {
    background-image: url("./assets/img/arrow_drop_down-bg.svg");
}

.select-image-up:hover {
    background-image: url("./assets/img/arrow_drop_down-bg-up.svg");
}

textarea:focus, input:focus{
    outline: none;
}

/* ANCHOR open contacts list under select */
.select-rel {
    position: relative;
}

.contact-select-list {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 4px;
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;
}

.contacts-select-list-row {
    display: flex; 
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 16px;
    padding: 7px 16px;
    box-sizing: border-box;
    border-radius: 10px;
}

.contacts-select-list-row div:nth-child(2) {
    flex: 1;
}

.contacts-select-list-row:hover {
    background-color: rgba(238, 238, 238, 1);
    
}

.checkbox-img {
    height: 24px;
    width: 24px;
    background-image: url('assets/img/checkbox.svg');
}

.checkbox-img:hover {
    background-image: url('assets/img/Check-button-hover.svg');
}

.checkbox-img-checked {
    height: 24px;
    width: 24px;
    background-image: url('assets/img/checkbox-checked-white.svg');
}

/* ANCHOR badges container */
.pre-select-badges {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

/* !SECTION end select */

/* SECTION add subtask */
.sub-btn-container {
    display: flex;
    height: 100%;
    align-items: center;
}


.sub-plus-image {
    width: 24px;
    height: 100%;
    background-image: url("./assets/img/subtask-plus.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}

.sub-plus-image:hover {
    background-image: url("./assets/img/subtask-plus-bg.svg");
}

.sub-cancel-image {
    width: 24px;
    height: 100%;
    background-image: url("./assets/img/cancel-x-dark.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}

.sub-btn-devider {
    height: 24px;
    width: 1px;
    background-color: rgba(168, 168, 168, 1);
    margin: 0 4px;
}

.sub-confirm-image {
    width: 24px;
    height: 100%;
    background-image: url("./assets/img/check-dark.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}

.sub-confirm-image:hover {
    background-image: url("./assets/img/check-dark-hover.svg");
}

.sub-cancel-image:hover {
    background-image: url("./assets/img/cancel-x-dark-hover.svg");
}

/* .select-image-up {
    width: 48px;
    height: 100%;
    background-image: url("./assets/img/arrow_drop_down-up.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}

.select-image:hover {
    background-image: url("./assets/img/arrow_drop_down-bg.svg");
    background-size: 24px auto;
    background-position: right 0 top 50%;
}

.select-image-up:hover {
    background-image: url("./assets/img/arrow_drop_down-bg-up.svg");
    background-size: 24px auto;
    background-position: right 0 top 50%;
} */



/* !SECTION */

.outer-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inner-input {
    border: none;
    flex: 1;
    height: 90%;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.font-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

/* ANCHOR badges container */

.pre-select-badges {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.profile-batch {
    width: 32px;
    height: 32px;
    border-radius: 100%;
    border: solid 1px white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.4px;
}

.enter-input {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    height: 48px;
    padding: 0 16px;
    background-color: white;
}

@media screen and (min-width: 768px) {

    body {
        margin-top: 105px;
    }

}