:root {
    --bg-color: rgba(246, 247, 248, 1);
    --buttons-dark: rgba(42, 54, 71, 1);
    --highlight: rgba(41, 171, 226, 1);
    --profile-lila: rgba(147, 39, 255, 1);
    --profile-rosa: rgba(252, 113, 255, 1);
    --profile-orange: rgba(255, 187, 43, 1);
}

@font-face {
    font-family: 'Inter-VariableFont';
    src: local(''), url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

body {
    font-family: 'Inter-VariableFont', sans-serif;
    color: rgba(0, 0, 0, 1);
    margin: 0;
    background-color: var(--bg-color);
    margin-top: 82px;
}

.orange {
    background-color: rgba(255, 122, 0, 1);
}

.purple {
    background-color: rgba(147, 39, 255, 1);
}

.blue {
    background-color: rgba(110, 82, 255, 1);
}

.pink {
    background-color: rgba(252, 113, 255, 1);
}

.yellow {
    background-color: rgba(255, 187, 43, 1);
}

.mint {
    background-color: rgba(31, 215, 193, 1);
}

.green {
    background-color: rgb(72, 190, 72);
}

.grey {
    background-color: rgb(155, 154, 154);
}

/* .pointer {
    cursor: pointer;
} */

.clickable {
    cursor: pointer;
}

.hide {
    display: none;
}

/* .d-none ist doppelt vergeben: */
/* Welches sollen wir behalten? */

/* in style_dennis: */
/* .d-none{
    display: none;
} */


/* in style_dennis-summary.css */
/* .d-none {
    display: none !important;
} */

/* in summary hat irgendwas ohne das !important nicht funktioniert.
hab ich das da extra vergeben. Muss ich nochmal gucken was genau das war */



.btn-color {
    background-color: var(--buttons-dark);
    border: 1px solid var(--buttons-dark);
}

.btn-color:hover {
    border-color: var(--highlight);
    background-color: var(--highlight);
    box-shadow: 0 5px 5px rgba(42, 54, 71, 0.5);
}

.btn-white {
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid var(--buttons-dark);
}

.btn-white:hover {
    color: var(--highlight);
    border: 2px solid var(--highlight);
    box-shadow: 0 5px 5px rgba(42, 54, 71, 0.5);    
}




@media screen and (min-width: 768px) {

    body {
        margin-top: 105px;
    }

}