.justify-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.legal-notice-arrow-left{
    margin-top: -25px;
    cursor: pointer;
}

.padding-left-right-16px{
    padding-left: 16px;
    padding-right: 16px;
}

.margin-bottom-96px{
    margin-bottom: 96px;
}

.highlighted-text{
    color: var(--highlight-text-blue);
}


@media (min-width: 1200px) {
    .desktop-help {
        padding: 110px 96px 0 96px;
    }
}