body{
    margin: 0;
    font-family: 'Inter-VariableFont', sans-serif;
}

@font-face {
    font-family: 'Inter-VariableFont';
    src: local(''), url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

.justify-space-between{
    display: flex;
    justify-content: space-between;
}

.legal-notice-arrow-left{
    margin-top: -25px;
    cursor: pointer;
}

.padding-left-right-16px{
    padding-left: 16px;
    padding-right: 16px;
}

.margin-bottom-96px{
    margin-bottom: 96px;
}



.highlighted-text{
    color: rgb(92, 190, 232);
}

.clickable{
    cursor: pointer;
}

.color-red{
    color: rgb(255, 129, 144);
}


