body{
    margin: 0;
    font-family: 'Inter-VariableFont', sans-serif;
}

@font-face {
    font-family: 'Inter-VariableFont';
    src: local(''), url(./assets/fonts/Inter-VariableFont_slnt,wght.ttf);
}

.justify-space-between{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.legal-notice-arrow-left{
    margin-top: -25px;
    cursor: pointer;
}

.padding-left-right-16px{
    padding-left: 16px;
    padding-right: 16px;
}

.margin-bottom-96px{
    margin-bottom: 96px;
}

.highlighted-text{
    color: rgb(92, 190, 232);
}

.color-red{
    color: rgb(255, 129, 144);
}

.bg-add-task{
    background-color: rgb(246, 247, 248);
}

.add-task-headline{
    font-size: 47px;
    height: 56px;
    font-weight: 700px;
}

.enter-title-input {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    width: 100%;
    height: 40px;
    padding-left: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    
}

.enter-subtask-input{
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    width: 371px;
    height: 40px;
    padding-left: 21px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19.2px;
    background-image: url("./assets/img/Property\ 1=add.svg");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
}

.enter-description-input{
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    height: 88px;
    line-height: 24px;
    padding-top: 20px;
    padding-left: 21px;
    padding-right: 21px;
    font-weight: 400;
    font-size: 16px;
    resize: none; 
    box-sizing: border-box;
    font-family: 'Inter-VariableFont', sans-serif;
    font-weight: 400;
    font-size: 16px;
    width: 100%;
}

.enter-title-input::placeholder{
    color: rgb(209, 209, 209);
}

.enter-subtask-input::placeholder{
    color: rgb(209, 209, 209);
}

.select-contacts-field{
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    width: 100%;
    height: 48px;
    line-height: 24px;
    padding-left: 16px;
    font-weight: 400;
    font-size: 16px; 
    appearance: none;
    background-image: url("./assets/img/arrow_drop_down.svg");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
    background-size: 24px auto;
}

textarea::-webkit-input-placeholder {
    color: rgb(209, 209, 209);
    }

.bg-red{
    background-color: rgb(255, 73, 16) !important;
}

.bg-green{
    background-color: rgb(122, 226, 41) !important;
}

.height-88px{
    height: 88px;
}

.margin-8px{
    margin-bottom: 8px;
}

.warning-message-field-required{
    height: 12px;
    font-size: 12px;
    color: rgb(255, 129, 144);
    font-weight: 400;
}

.date-input{
    box-sizing: border-box;
    height: 40px;
    width: 100%;
    border: 1px solid rgba(209, 209, 209, 1);
    border-radius: 10px;
    padding-left: 21px;
    padding-right: 21px;
    background-image: url("./assets/img/event.svg");
    background-repeat: no-repeat;
    background-position: right 24px top 50%;
    font-size: 16px;
    margin-right: 50px;
}

.date-input::placeholder{
    color: rgb(209, 209, 209);
}

.date-input:focus{
    background-image: none;
}

.priority-section{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    gap: 8px;
    font-size: 16px;
    height: 41px;
    border-radius: 10px;
    width: 121px;  
}

.width-396px{
    width: 396px;
}

.create-task-btn{
    background-color: rgb(42, 54, 71);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 21px;
    font-weight: 700;
    width: 183px;
    height: 56px;
    border-radius: 10px; 
}
.h1-d{
    font-size: 47px;
}

.h2-d{
    font-size: 27px;
    font-weight: 700;
}

.margin-bottom0{
    margin-bottom: 0px;
}

.medium-selected {
    background: rgba(255, 168, 0, 1);
    color: white;
}

.urgent-selected {
    background: rgba(255, 61, 0, 1);
    color: white;
}

.low-selected {
    background: rgba(122, 226, 41, 1);
    color: white;
}

.low-selected span, .urgent-selected span, .medium-selected span {
    font-weight: 700;
}

.enter-input {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid rgba(209, 209, 209, 1);
    height: 40px;
    padding: 0 21px;
}

.select-input {
    appearance: none;
    background-image: url('./assets/img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    background-size: 24px auto;
}

.font-16 {
    /* font-family: 'Inter'; */
    font-size: 20px;
    line-height: 19.2px;
    text-align: left;
}

.hint-container {
    padding-top: 112px;
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 400;
    line-height: 19.2px;
    text-align: left;
}

.outer-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.inner-input {
    border: none;
    flex: 1;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.font-20 {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.select-input {
    appearance: none;
    background-image: url('./assets/img/arrow_drop_down.svg');
    background-repeat: no-repeat;
    background-position: right 16px top 50%;
    background-size: 24px auto;
}

.select-image {
    width: 48px;
    height: 100%;
    background-image: url("./assets/img/arrow_drop_down.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}

.select-image-up {
    width: 48px;
    height: 100%;
    background-image: url("./assets/img/arrow_drop_down-up.svg");
    background-repeat: no-repeat;
    background-position: right 0 top 50%;
    background-size: 24px auto;
}

.select-image:hover {
    background-image: url("./assets/img/arrow_drop_down-bg.svg");
    background-size: 24px auto;
    background-position: right 0 top 50%;
}

.select-image-up:hover {
    background-image: url("./assets/img/arrow_drop_down-bg-up.svg");
    background-size: 24px auto;
    background-position: right 0 top 50%;
}

textarea:focus, input:focus{
    outline: none;
}

.select-rel {
    position: relative;
}

.contact-select-list {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    flex-direction: column;
    gap: 4px;
    background-color: white;
    max-height: 200px;
    overflow-y: scroll;
}

.contacts-select-list-row {
    display: flex; 
    align-items: center;
    justify-content: start;
    width: 100%;
    gap: 16px;
    padding: 7px 16px;
    box-sizing: border-box;
    border-radius: 10px;
}

.contacts-select-list-row div:nth-child(2) {
    flex: 1;
}

.contacts-select-list-row:hover {
    background-color: rgba(238, 238, 238, 1);
    
}

.checkbox-img {
    height: 24px;
    width: 24px;
    background-image: url('assets/img/checkbox.svg');
}

.checkbox-img:hover {
    background-image: url('assets/img/Check-button-hover.svg');
}

.checkbox-img-checked {
    height: 24px;
    width: 24px;
    background-image: url('assets/img/checkbox-checked-white.svg');
}

.pre-select-badges {
    height: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
}


@media (min-width: 768px) {
    .add-task-desktop{
        display: flex;
        
    }
    .add-task-desktop-gap{
        margin-left: 90px;
        margin-right: 48px;
    }
    .enter-title-input{
        font-size: 20px;
        height: 48px;
        margin-bottom: 32px;
        width: 100%;
    }
    .enter-description-input{
        font-size: 20px;
        height: 120px;
        margin-bottom: 32px;
        width: 440px;
    }
    .select-contacts-field{
        width: 440px;
    }
    .add-task-desktop-border{
        margin-right: 48px;
        height: 424px;
        color: black;
        border: 1px solid rgb(209, 209, 209);
    }
    .add-task-headline{
        margin-left: 90px;
        margin-top: 110px;
        margin-bottom: 48px;
    }
    .enter-description-input{
        resize: vertical;
    }
    .font-20px{
        font-size: 20px;
        margin-top: 0;
    }
    .desktop-help{
        width: 1014px;
        margin-left: 96px;
    }
    .h1-d{
        font-size: 61px;
        margin-top: 110px;
        margin-bottom: 32px;
    }
    .align-center{
        display: flex;
        align-items: center;
        
    }
    .legal-notice-arrow-left{
        margin-top: 78px;
    }
    .font-weight400{
        font-weight: 400;
    }
    .h2-d{
       font-size: 27px; 
       font-weight: 700;
    }
    .priority-section img{
       width: 20px;
    }
    .date-input{
        margin-bottom: 40px;
        width: 100%;
    }
    .priority-section{
        font-size: 20px;
        height: 56px;
        width: 136px;
        gap: 8px;
    }
    .width-396px{
        width: 440px;
    }
    .legal-notice-arrow-left{
        height: 37px;
    }
    .color-blue{
        color: rgb(42, 54, 71);
    }
    .category-input{
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        gap: 8px;
        margin-bottom: 24px;
    }
    .enter-subtask-input{
    font-size: 20px;
    height: 48px;
    margin-bottom: 32px;
    width: 416px;
    
    }
    .d-none-desktop{
        display: none;
    }
    .subtask{
        display: flex;
        flex-direction: column;  
        gap: 8px;
    }
    .required-text{
        padding-top: 170px;
        font-size: 20px;
    }
    .create-task-btn{
        margin-top: 146px;
    }
    .clear-task-btn{
        background-color: white;
        height: 56px;
        display: flex;
        align-items: center;
        gap: 4px;
        width: 110px;
        justify-content: center;
        border: 1px solid rgb(42, 54, 71);
        border-radius: 10px;
        margin-top: 146px;
        color: rgb(42, 54, 71);
        font-size: 20px;
    }
    .desktop-btns{
        display: flex;
        justify-content: flex-end;
        gap: 16px;
    }
    
}





