body {
    font-family: 'Inter-VariableFont', sans-serif;
    margin: 0;
}

@font-face {
    font-family: 'Inter-VariableFont';
    src: local(''), url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}